.App {
  text-align: center;
  margin: auto;
  border: 2px solid black;
}
.App form{
  
  background-color: aqua;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid black;
  margin: auto;
  padding: 5px;
  margin-bottom: 5px;
}
.form input{
  margin: auto;
  height: 2rem;
  border-radius: 5px;
}
.form button{
  margin: auto;
  border-radius: 5px;
}
.form button:hover{
  cursor: pointer;
  opacity: 0.8;
}
.card{
  
  background-color: blue;
  margin: auto;
  width: 16.5rem;
  color: white;
  padding: 1px;
}
.card h2{
  color: black;
}
.card img{
  border: 2px solid black;
  padding: 2px;
}